div {

display: block;	
font-family: 'PT Sans', sans-serif;


}

button {

	border-radius: 5px;


}

#main{


	background: url("Pics/background.jpeg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 700px;

	
}
